.DS_Store
.vscode
cooperative_localization/functions/__pycache__

cooperative_localization/output/**
!cooperative_localization/output/**/
!cooperative_localization/output/**/.gitkeep

cooperative_localization/models/**
!cooperative_localization/models/**/
!cooperative_localization/models/**/.gitkeep

cooperative_localization/samples/**
!cooperative_localization/samples/**/
!cooperative_localization/samples/**/.gitkeep

fingerprinting/output/**
!fingerprinting/output/**/
!fingerprinting/output/**/.gitkeep

