.DS_Store
.vscode
.backup

cooperative_localization/functions/_.py
cooperative_localization/functions/__pycache__
cooperative_localization/functions/basis/__pycache__
cooperative_localization/functions/feature/__pycache__
cooperative_localization/functions/result/__pycache__

cooperative_localization/output/**
!cooperative_localization/output/**/
!cooperative_localization/output/**/.gitkeep

cooperative_localization/models/**
!cooperative_localization/models/**/
!cooperative_localization/models/**/.gitkeep

cooperative_localization/sample_data/**
!cooperative_localization/sample_data/**/
!cooperative_localization/sample_data/**/.gitkeep

cooperative_localization/evaluation_data/**
!cooperative_localization/evaluation_data/**/
!cooperative_localization/evaluation_data/**/.gitkeep

cooperative_localization_without_feature_vn/output/**
!cooperative_localization_without_feature_vn/output/**/
!cooperative_localization_without_feature_vn/output/**/.gitkeep

cooperative_localization_with_hop_count

fingerprinting/output/**
!fingerprinting/output/**/
!fingerprinting/output/**/.gitkeep

